[Unit]
Description=OS Rich Presence
After=network.target presenced.service graphical-session.target
Requires=graphical-session.target

[Service]
# workaround for waiting session to be fully loaded
ExecStartPre=/bin/sleep 10
ExecStart=%h/.local/bin/os_presence
Restart=on-failure
MemoryMax=100M
ProtectSystem=full
ReadOnlyPaths=%h/.local/bin/os_presence
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
Type=notify

[Install]
WantedBy=default.target
